<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <style>
        body {
          background-image: url('https://www.usnews.com/cmsmedia/a7/b4/fc82a15549afac6b47117ceb53b1/161031-stock.jpg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      </style>

</head>
</head>
<body class="bg-gray-100">
  <h1 class="text-4xl text-center py-10 text-white">!Mi portafolio!</h1>
  <div class="text-center">
    <a href="/Portafolio/Oliver" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ver más detalles</a>
  </div>
</body>
</html>