/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.custom-label {
    font-weight: bold;
  }
  
  .custom-input {
    width: 100%;
    max-width: 300px; 
  }
  
  .custom-button {
    width: 100%;
    max-width: 300px; 
    margin: 0 auto; 
  }
  