doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tabla de Multiplicar
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", rel="stylesheet")
  body
    .container.mt-5
      h1 Tabla de Multiplicar del #{numero}
      table.table
        thead
          tr
            th Multiplicando
            th Resultado
        tbody
          each item in tabla
            tr
              td #{item.multiplicando}
              td #{item.resultado}
